<h2>Productos creados hasta el momento:</h2>
<hr>
<ul>
    {{#each products}}
        <li>
          <h3> titulo: <strong>{{title}}</strong></h3>
          <h3>descripcion: {{description}}</h3>
          <h3>codigo: {{code}} </h3>
          <h3>precio: {{price}} </h3>
          <h3>status: {{status}} </h3>
          <h3>stock: {{stock}} </h3>
          <h3>categoria: {{category}} </h3>
        </li>
    {{/each}}
</ul>

<script src="/src/public/js/home.js"></script>